<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/app.css')}}">

        <script src="{{asset('/web/bower_components/foundation/js/vendor/modernizr.js')}}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p class="right">Welcome: {{ app.user.firstname }} / <a href="">Logout</a> </p>
    {% else %}
        <a href="{{ path('login_route') }}">Login</a>
    {% endif %}
        {% block nav %}
        <div class="row">
            <div class="small-6 columns">
                <ul class="inline-list">
                    <li><a href="{{ path('home') }}" >Home</a></li>
                    <li><a href="{{ path('user') }}" >Users</a></li>
                    <li><a href="{{ path('features') }}" >Features</a></li>
                    <li><a href="{{ path('test') }}" >Test</a></li>
                </ul>
            </div>

        </div>

        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{asset('/web/bower_components/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{asset('/web/bower_components/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
