<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/app.css')}}">

        <script src="{{asset('/web/bower_components/foundation/js/vendor/modernizr.js')}}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{asset('/web/bower_components/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{asset('/web/bower_components/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
