<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/bower_components/foundation/css/app.css')}}">

        <script src="{{asset('/web/bower_components/foundation/js/vendor/modernizr.js')}}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}
        <div class="row">
            <ul class="inline-list">
                <li><a href="{{ path('home') }}" >Home</a></li>
                <li><a href="{{ path('user') }}" >Users</a></li>
            </ul>
        </div>
        <div class="row">{{ "now"|date("d/m/Y") }}</div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{asset('/web/bower_components/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{asset('/web/bower_components/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
