<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block stylesheets %}
        {#{% stylesheets#}
        {#'bundles/appBundle/css/*'#}
        {#'bundles/appBundle/bower_components/foundation/css/*'#}
        {#output='bundles/appBundle/css/compiled/main.css'#}
        {#filter='cssrewrite'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
        <link rel="stylesheet" href="{{ asset('bundles/appBundle/bower_components/foundation/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/appBundle/css/app.css') }}">


    {% endblock %}


    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p class="right">Welcome: {{ app.user.firstname }} / <a href="{{ path('log_out') }}">Logout</a></p>
{% else %}
    <p class="right"><a href="{{ path('login_route') }}">Login</a></p>
{% endif %}
{% block nav %}
    <div class="row">
        <div class="small-6 columns">
            <ul class="inline-list">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('user') }}">Users</a></li>
                <li><a href="{{ path('video') }}">Videos</a></li>
                <li><a href="{{ path('features') }}">Features</a></li>
                <li><a href="{{ path('test') }}">Test</a></li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block body %}{% endblock %}

{#{% block javascripts %}#}
{#{% javascripts#}
{#'bundles/appBundle/bower_components/foundation/js/foundation/*'#}
{#'bundles/appBundle/js/*'#}
{#output='bundles/appBundle/js/compiled/main.js'#}
{#%}#}
{#<script src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}
{#{% endblock %}#}

{% block javascripts %}
    <script src="{{ asset('/bower_components/foundation/js/vendor/modernizr.js') }}"></script>
    <script src="{{ asset('/bower_components/foundation/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('/bower_components/foundation/js/foundation.min.js') }}"></script>
    <script src="{{ asset('/js/app.js') }}"></script>
{% endblock %}
<script>
    //$(document).foundation();
</script>
</body>
</html>
