{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>User</h1>
    <div class="row">

        <div class="small-5 columns">
            <a href="{{ path('user') }}">Back to the list</a>
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
            <ul class="no-bullet">


            <li><a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a></li>

            <li>{{ form(delete_form) }}</li>
            </ul>
        </div>


        <div class="small-5 columns">

            {% if rentals is defined %}

                <h3>Videos Rented</h3>
                {% for rental in rentals %}
                    <ul>
                        <li>Days arranged: {{ rental.arranged }}</li>
                        <li>Date out: {{ rental.date |date("m/d/Y") }}</li>
                        <li>Days over:{{ rental.days_over }} (save on archive) </li>
                        <li>Title: {{ rental.title }}</li>
                        <li><a href="{{ path('user_edit_rental', { 'id': user.id, 'rental_id': rental.id }) }}">Edit {{ rental.id }}</a> </li>
                        <li><a href="{{ path('user_archive_rental', { 'id': user.id, 'rental_id': rental.id }) }}">Archive {{ rental.id }}</a> </li>
                    </ul>
                    <hr>
                {% endfor %}

            {% endif %}


            <a href="{{ path('user_add_rental', {'id': user.id}) }}">Add new</a>
        </div>

    </div>
{% endblock %}
