{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Add video for [User]</h1>

    {{ form_start(form) }}

        {{ form_errors(form) }}


            {#<ul class="no-bullet">#}
                {#{% for video in videos %}#}
                    {#<li>#}
                        {#<input type=checkbox id="form_video_id" name="form[video_id]" value="{{ video.id }}"> {{ video.title }}#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}



            {{ form_row(form.user_id) }}

            {{ form_row(form.out_date) }}
            {{ form_row(form.arranged_days_rented) }}

    {{ form_end(form) }}


{% endblock %}