{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>{{ title }}</h1>

    <div class="row">
        <div class="small-6 columns">
            <a href="{{ path('user', {'id': id }) }}">Back to the list</a>
            {{ form_start(form) }}

            {{ form_errors(form) }}


            {#<ul class="no-bullet">#}
            {#{% for video in videos %}#}
            {#<li>#}
            {#<input type=checkbox id="form_video_id" name="form[video_id]" value="{{ video.id }}"> {{ video.title }}#}
            {#</li>#}
            {#{% endfor %}#}
            {#</ul>#}



            {{ form_row(form.user) }}

            {{ form_row(form.out_date) }}
            {{ form_row(form.arranged_days_rented) }}

            {{ form_end(form) }}
        </div>
         <div class="small-6 columns">
             {# need to not show this when adding a new form for a user that has no videos #}
             {% if rentals is defined %}

                 <h3>Videos Rented</h3>
                 {% for rental in rentals %}
                     <ul>
                         <li>Days arranged: {{ rental.arranged }}</li>
                         <li>Days out:{{ rental.actual }}</li>
                         <li>Title: {{ rental.title }}</li>
                         <li><a href="{{ path('user_edit_rental', { 'id': id, 'rental_id': rental.id }) }}">Edit</a> </li>
                     </ul>
                     <hr>
                 {% endfor %}
                 <a href="{{ path('user_add_rental', {'id': id}) }}">Add new</a>
             {% endif %}


        </div>


    </div>

{% endblock %}