{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Add video for [User]</h1>

    <div class="row">
        <div class="small-6 columns">
            {{ form_start(form) }}

            {{ form_errors(form) }}


            {#<ul class="no-bullet">#}
            {#{% for video in videos %}#}
            {#<li>#}
            {#<input type=checkbox id="form_video_id" name="form[video_id]" value="{{ video.id }}"> {{ video.title }}#}
            {#</li>#}
            {#{% endfor %}#}
            {#</ul>#}



            {{ form_row(form.user) }}

            {{ form_row(form.out_date) }}
            {{ form_row(form.arranged_days_rented) }}

            {{ form_end(form) }}
        </div>
        {% if rentals is defined %}
            <div class="small-6 columns">
                {% for rental in rentals %}
                    <ul>
                        <li>Days arranged: {{ rental.arranged }}</li>
                        <li>Days out:{{ rental.actual }}</li>
                        <li>Title: {{ rental.title }}</li>

                    </ul>
                    <hr>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}